main {
  padding: var(--space-3xl) var(--space-md) var(--space-md);
  height: calc(100vh - var(--space-xl));
}

main {
  margin-bottom: var(--space-md);
  font-size: var(--font-size-2xl);
}

@media (min-width: 768px) {
  main {
    padding: var(--space-3xl) var(--space-xl) var(--space-md);
  }
}
