.settings {
  padding: var(--space-3xl) var(--space-md) var(--space-md);
  height: calc(100vh - var(--space-xl));
}

.settings h1 {
  margin-bottom: var(--space-md);
  font-size: var(--font-size-2xl);
}

.sectionSettings h2 {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-lg);
}

.sectionSettings label {
  font-size: var(--font-size-base);
  margin-right: var(--space-xs);
}

.sectionSettings select {
  font-family: inherit;
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
  background-color: var(--color-background);
  border: 1px solid var(--color-text-secondary);
  padding: var(--space-4xs) var(--space-xs);
  border-radius: 2px;
}

@media (min-width: 768px) {
  .settings {
    padding: var(--space-3xl) var(--space-xl) var(--space-md);
  }
}