.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--space-xl);
  padding: 0 var(--space-md);
  background-color: var(--color-header-background);
  z-index: 100;
}

.menu {
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) var(--space-md);
  font-size: var(--font-size-lg);
  font-weight: 600;
  background-color: var(--color-menu-background-sm);
  color: var(--color-menu-text-sm);
  overflow-y: auto;
  scrollbar-width: none;
  transition: right 0.3s ease-in-out;
  z-index: 101;
}

.menuItem {
  display: flex;
  align-items: center;
}

.menuItem,
.submenuItem {
  padding: var(--space-sm);
  border-radius: 4px;
  cursor: pointer;
}

.menuItem:hover,
.submenuItem:hover {
  background-color: var(--color-menu-hover-sm);
}

.hasSubmenu {
  position: relative;
}

.submenu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.hamburger {
  font-size: 20px;
  --ionicon-stroke-width: 40px;
  color: var(--color-header-text);
  cursor: pointer;
}

.close {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  font-size: 20px;
  --ionicon-stroke-width: 40px;
  color: var(--color-menu-text-sm);
  z-index: 102;
}

.chevron {
  margin-left: 6px;
}

.open {
  right: 0;
}

.show {
  max-height: 300px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 var(--space-xl);
  }

  .hamburger,
  .close {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--space-md);
    background: none;
    color: var(--color-header-text);
    font-size: var(--font-size-base);
    transition: none;
    overflow: visible;
  }

  .menuItem:hover {
    background: none;
  }

  .hasSubmenu:hover .submenu {
    max-height: 300px;
    opacity: 1;
    pointer-events: auto;
  }

  .submenu {
    position: absolute;
    width: 150px;
    max-height: 0;
    background-color: var(--color-menu-background-lg);
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s;
  }

  .submenuItem:hover {
    background-color: var(--color-menu-hover-lg);
  }
}
