.logo {
  font-size: var(--font-size-base);
  letter-spacing: 0.5px;
  color: var(--color-text-accent);
  font-weight: 600;
  background-color: var(--color-accent);
  border-radius: 4px;
  padding: 0.6rem 0.8rem;
}

@media(min-width: 768px) {
  .logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
  }
}