.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 101;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  padding: var(--space-xl) var(--space-lg);
  background-color: rgba(255, 255, 255, 0.95);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 102;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-lg);
  font-weight: 600;
  padding: var(--space-sm) var(--space-lg);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.menu li:hover {
  background-color: #e5e5e5;
  border-radius: 4px;
}

.menu.show {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.genres {
  position: relative;
  display: inline-flex;
  align-items: center; 
}

.genresList {
  animation: fadeIn 0.3s ease;
}

.genresList li{
  font-weight: 400;
}

.chevronIcon {
  position: relative;
  top: 1px;
  left: var(--space-2xs);
  font-size: var(--font-size-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}