/* .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.menu {
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100vh;
  padding: var(--space-xl) var(--space-lg);
  background-color: var(--color-menu);
  color: var(--color-text-secondary);
  overflow-y: auto;
  scrollbar-width: none;
  transition: right 0.3s ease-in-out;
  z-index: 102;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-lg);
  font-weight: 600;
  padding: var(--space-sm) var(--space-lg);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.menu li:hover {
  background-color: var(--color-menu-hover--sm);
  border-radius: 4px;
}

.open {
  right: 0;
}

.closeBtn {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  font-size: 2rem;
  color: var(--color-text-secondary);
  cursor: pointer;
}

@media (min-width: 768px) {
  .overlay {
    display: none;
  }

  .closeBtn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    overflow: visible;
    background-color: transparent;
    color: var(--color-navbar-text);
    font-weight: 400;
  }
}
 */