.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: clamp(200px, 30vw, 300px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  height: clamp(145px, 22vw, 240px);
  margin: var(--space-xl) var(--space-xl) var(--space-4xs);
  border-radius: 4px;
}
