.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--space-xl);
  padding: 0 var(--space-md);
  background-color: var(--color-navbar-background);
  z-index: 100;
}

.menu,
.submenu {
  display: flex;
  flex-direction: column;
/*   gap: var(--space-md); */
}

.menu {
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100vh;
  padding: var(--space-xl) var(--space-lg);
  font-size: var(--font-size-lg);
  font-weight: 600;
  background-color: var(--color-menu-background-sm);
  color: var(--color-text-secondary);
  overflow-y: auto;
  scrollbar-width: none;
  transition: right 0.3s ease-in-out;
  z-index: 101;
}

.menuItem, .genreItem {
  padding: var(--space-sm);
  border-radius: 4px;
  cursor: pointer;
}

.menuItem:hover, .genreItem:hover {
 background-color: var(--color-menu-hover-sm);
}

.submenu {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.hamburger {
  font-size: 20px;
  --ionicon-stroke-width: 40px;
  color: var(--color-navbar-text);
  cursor: pointer;
}

.close {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  font-size: 20px;
  --ionicon-stroke-width: 40px;
  color: var(--color-text-secondary);
  z-index: 102;
}

.hasSubmenu {
  position: relative;
}

.open {
  right: 0;
}

.show {
  max-height: 500px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .close {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: var(--space-xl);
    overflow: visible;
    background: none;
    transition: none;
    color: var(--color-navbar-text);
    font-size: var(--font-size-base);
  }

  .hasSubmenu:hover .submenu {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .submenu {
    position: absolute;
    background: white;
    width: 150px;
    max-height: 0;
    background-color: var(--color-menu-background-lg);
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s;
  }

  .genreItem {
    padding: var(--space-sm);
  }

  .genreItem:hover {
    width: 100%;
    background-color: var(--color-menu-hover-lg);
  }
}
