.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--space-xl);
  padding: 0 var(--space-md);
  background-color: rgba(38, 38, 38, 0.9);
  color: var(--color-text-alt);
  z-index: 100;
}

.logo {
  font-family: Impact;
  font-size: var(--font-size-base);
  letter-spacing: 0.5px;
  color: #000;
  background-color: #f5c518;
  border-radius: 4px;
  padding: 0.6rem 0.8rem;
}

.icon {
  font-size: 20px;
  --ionicon-stroke-width: 40px;
  cursor: pointer;
  display: block;
  line-height: 1;
}
