.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.search h1 {
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-lg);
  font-size: var(--font-size-3xl);
  letter-spacing: -0.5px;
  color: var(--color-text-primary);
}

.search h2 {
  margin-bottom: var(--space-md);
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-text-secondary);
  line-height: 1.4;
}

.inputWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin-bottom: var(--space-xs);
  background-color: var(--color-background-input);
  box-shadow: 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.inputWrapper input {
  height: 100%;
  width: 100%;
  padding: var(--space-2xs) var(--space-xs);
}

.searchIcon {
  font-size: 15px;
  color: #777;
  --ionicon-stroke-width: 40px;
  padding: 0 var(--space-xs);
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  scrollbar-width: none;
  cursor: pointer;
}

.suggestions li {
  padding: var(--space-xs) var(--space-3xs);
  cursor: pointer;
  transition: background 0.2s ease;
  font-size: var(--font-size-xs);
}

.suggestions li:hover {
  background: var(--color-menu-hover);
}
