.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.searchSection {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-lg);
  color: var(--color-text-light);
  background-image: url("../assets/theater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.searchSection h1,
.searchSection h2 {
  z-index: 1;
  margin-bottom: var(--space-md);
}

.searchSection h1 {
  font-size: var(--font-size-3xl);
  letter-spacing: -0.5px;
}

.searchSection span {
  color: var(--color-accent);
}

.searchSection h2 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 1.4;
}

.inputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 70vw, 700px);
  margin: 0 auto var(--space-xs);
  background-color: var(--color-input-background);
  border-radius: 4px;
}

.inputWrapper input {
  height: 100%;
  width: 100%;
  padding: var(--space-2xs) var(--space-xs);
}

.searchIcon {
  font-size: 15px;
  color: #777;
  --ionicon-stroke-width: 40px;
  padding: 0 var(--space-xs);
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 100px;
  margin-bottom: 200px;
  padding: var(--space-2xs) var(--space-xs);
  text-align: left;
  background: var(--color-input-background);
  color: var(--color-text-dark);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  overflow-y: auto;
  scrollbar-width: none;
  cursor: pointer;
  z-index: 10;
}

.suggestions li {
  padding: var(--space-xs) var(--space-3xs);
  font-size: var(--font-size-xs);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.suggestions li:hover {
  background: var(--color-input-hover);
}

@media (min-width: 768px) {
  .overlay {
    background: rgba(0, 0, 0, 0.2);
  }

  .searchSection {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-xl);
  }
}
