.spinner {
  margin: var(--space-3xl) auto;
  width: 32px;
  height: 32px;
  border: 4px solid var(--color-text-secondary);
  border-top: 4px solid var(--color-background);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
