/* .submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 0;
}

.open {
  max-height: 500px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chevronIcon {
  margin-left: 6px;
}


@media (min-width: 768px) {
  .submenu {
    position: absolute;
    background: white;
    width: 180px;
    left: 0;
    top: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    max-height: 0;
  }

  .hasSubmenu:hover .submenu {
    max-height: 500px;
  }

  .header {
    cursor: default;
  }
}
 */