/* -- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*************************************
 RESETS AND GLOBAL STYLES
 *************************************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Light theme */
:root {
  --color-background: #ffffff;
  --color-background-alt: #262626;
  --color-background-input: #ffffff;
  --color-background-accent: #f5c518;
  --color-text-primary: #222;
  --color-text-secondary: #444;
  --color-text-alt: #f5f5f5;
  --color-text-accent: #222;
  --color-border: #eee;
  --color-menu: rgba(255, 255, 255, 0.95);
  --color-menu-hover: #e5e5e5;

  /* Font */
  --font-family-base: "Inter", sans-serif;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-base: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.4rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 3.6rem;
  --font-size-5xl: 4.4rem;

  /* Spacing */
  /* Base 1rem = 10px */
  --space-4xs: 0.2rem;
  --space-3xs: 0.4rem;
  --space-2xs: 0.8rem;
  --space-xs: 1.2rem;
  --space-sm: 1.6rem;
  --space-md: 2.4rem;
  --space-lg: 3.2rem;
  --space-xl: 4.8rem;
  --space-2xl: 6.4rem;
  --space-3xl: 8rem;
}

/* Dark theme */
[data-theme="dark"] {
  --color-background: #171717;
  --color-background-alt: #171717;
  --color-text-primary: #eeeeee;
  --color-text-secondary: #dddddd;
  --color-border: #303030;
  --color-menu: rgb(38, 38, 38, 0.95);
  --color-menu-hover: #404040;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, select {
  border: none;
  background: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

p {
  font-size: var(--font-size-base);
  line-height: 1.6;
}

/*************************************
 REUSABLE CLASSES
 *************************************/

.borderTop {
  border-top: 1px solid var(--color-border);
}
